/* Coolors Exported Palette - coolors.co/ffffff-000000-61e786-5a5766-1b2a41 */

$color1: rgba(255, 255, 255, 1);
$color2: rgba(0, 0, 0, 1);
$color3: rgba(97, 231, 134, 1);
$color4: rgba(90, 87, 102, 1);
$color5: rgba(27, 42, 65, 1);
$color6: rgba(47, 169, 62, 1);
